include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./linear_model/*

include linear_model/datasets/train.csv
include linear_model/datasets/test.csv
include linear_model/trained_models/*.pkl
include linear_model/VERSION
include linear_model/config.yml

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]